<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Dewberry Bees is a.Dewberry Bees is a small, independent business based in Nailsea, North Somerset. 
		Run by a local beekeeper (that’s me!), I care for my own hives and produce local wildflower honey and natural beeswax products. 
		Everything is made in small batches, with care and respect for the bees and the environment.</p>
      </div>
      <div class="col-lg-4">
        <p>Our bees do more than make honey — they help protect the environment. 
		With our “Adopt a Bee” and hive sponsorship packages, you can support pollinators and play a part in preserving the local ecosystem. 
		Whether you're after a sweet treat or want to give back to nature, you're in the right place. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
